params {
    input = null
    outdir = null
    kmer = 17
    minimum_count = 1
    quorum = 1.0
    canonical = true
    cdbg = false
    account_telomeres = false
    suffix_size = 4
    hill_points = 30
    hill_exact_tail = 5
    hill_adaptive_tolerance = null
    hill_force_exact = false
    create_plots = true
    histogram_normalize_x = false
    histogram_normalize_y = "none"
}

manifest {
    name = "pangrowth"
    description = "Estimate pangenome growth, core size, and diversity from genomes"
    homePage = "https://github.com/gi-bielefeld/pangrowth"
    doi = "10.24072/pcjournal.415"
    mainScript = "clowm/main.nf"
    nextflowVersion = ">=25.04.0"
}

docker.enabled = true

process {
    withLabel: highmemMedium {
        cpus = 8
        memory = '64 GB'
        time = '24h'
    }
}
