params {
    input = null
    outdir = null
    kmer = 31
    minimum_count = 1
    quorum = 0.9
    canonical = true
    suffix_size = 10
    hill_points = 30
}

manifest {
    name = "pangrowth"
    description = "Estimate pangenome growth, core size, and diversity from genomes"
    homePage = "https://github.com/gi-bielefeld/pangrowth"
    doi = "10.24072/pcjournal.415"
    mainScript = "main.nf"
    nextflowVersion = ">=25.04.0"
}

docker.enabled = true

process {
    withLabel: highmemMedium {
        cpus = 8
        memory = '64 GB'
        time = '24h'
    }
}
